@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&family=Source+Code+Pro:wght@200&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

